.border {
	background-image: url('images/lobsterborder.jpg');
	background-repeat: repeat-x;
	background-position: center;
	background-size: cover;
	height: 56px;
	margin-bottom: 40px;
}

.border-footer {
	margin-bottom: 20px;
}