form {
	input,
	select,
	textarea {
		width: 100%;
		border: 3px solid $black;
		color: $black;
		margin-top: 10px;
		padding: 5px 10px;
	}

	input {
		@media (min-width: 600px) {
			width: 400px;
		}
	}

	input[type="submit"] {
		color: #FFF;
		background-color: $black;
		margin-top: 0;
		font-family: $site-font;

		&:hover {
			cursor: pointer;
		}

		@media (min-width: 600px) {
			width: 200px;
		}
	}

	// STYLES SPECIFIC TO WPCF7
	span.wpcf7-not-valid-tip {
		color: $red;
		margin-top: 5px;
	}

	div.wpcf7-validation-errors {
		border: 0;
		background-color: $red;
		color: #FFF;
	}

	div.wpcf7-response-output {
		padding: 10px;
		margin: 20px 0 0 0;
	}

	div.wpcf7-mail-sent-ok {
		border: 0;
		background-color: $black;
		color: #FFF;
	}
}