.post {
	.title {
		text-align: center;
	}

	p {
		line-height: 1.4;
	}

	li {
		margin-bottom: 10px;
	}
}

.blog .post {
	.title {
		text-align: left;
	}
}

.single .post {
	.post-meta {
		text-align: center;
	}
}

.blog .post-excerpt {
	margin-bottom: 40px;

	p {
		margin-bottom: 0;
	}

	.title {
		margin-bottom: 10px;
	}

	.next-page,
	.past-page {
		a {
			font-size: 18px;
			font-weight: 700;
		}
	}
}