@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');

$site-font: 'Roboto Slab', serif;

$black: #0A3255; // rgb = 10, 50, 85
$red: #D3323A; // rgb = 211, 50, 58
$gray: #D6D6D6;
$white: #FFFFFF;